/* .proyect {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  background-color: black;
  margin: 10px auto;
  border-radius: 10px;
  width: 80%;
  height: 100%;
  position: relative;
  margin-top: 60px;
  z-index: 1;
  outline: 2px solid aliceblue;
}

.proyect__profile-img {
  position: relative;
  margin-top: 50px;
  width: 30%;
  object-fit: cover;
  border-radius: 10px 100px / 120px;
}

.proyect__name {
  margin: 60px 15px 0;
  text-justify: newspaper;
  font-size: 30px;
}

.proyect__info-container {
  width: 80%;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.proyect__info-element {
  display: flex;
  padding: 15px 0;
}

.proyect__info-key {
  margin: 0;
  font-size: 30px;
  line-height: 35px;
}

.proyect__info-value {
  margin: 0 0 0 10px;
  font-size: 25px;
  line-height: 37px;
}

.proyect__input {
  background-color: rgba(26, 27, 34, 1);
  color: aliceblue;
  border-radius: 5px;
}

.proyect__input::placeholder {
  color: gray;
}

.proyect__input:focus {
  outline: 5px groove rgba(0, 145, 175, 1);
}

.proyect__submit-btn {
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 4px;
  color: aliceblue;
  background-color: rgb(52, 14, 156);
  text-shadow: none;
  box-shadow: 0 0 10px 1px rgba(26, 27, 34, 1);
  margin: 20px auto 30px;
  height: 40px;
  width: 40%;
} */

.proyect {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  color: rgba(26, 27, 34, 1);
  margin: 10px;
  padding: 10px;
  height: 350px;
  width: 250px;
}

.proyect__img {
  object-fit: cover;
}

.proyect__info-container {
  padding-left: 5px;
  display: flex;
  flex-direction: column;
}

.proyect__info {
  padding: 3px 0;
  display: flex;
}

.proyect__key {
  margin: 0;
  padding-right: 5px;
}

.proyect__value {
  margin: 0;
}
