.main {
  width: 100%;
  padding: 60px 20px 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 550px) {
  .main {
    padding-top: 75px;
  }
}

@media screen and (max-width: 350px) {
  .main {
    padding: 75px 0 40px;
  }
}
